.block {
    display: flex;
    justify-content: space-evenly;
}

ul { padding-left: 0; }

.container {
    display: flex;
    flex-direction: column;
    width: 250px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;

    h3 {
        align-self: center;
    }
}

.extra-container {
  padding: 0 200px;
  min-height: 50px;
  text-align: center;
}

.extra {
  cursor: pointer;
}
