<div class="block">
    <div class="container">
        <h3>Performance</h3>
        <ul>
            <li>Ngrx state management</li>
            <li>Reactive programming</li>
            <li>Global(API or client) errors handling</li>
            <li>Clear folder structure, clean and dry code - use interfaces, ES6, etc.</li>
            <li>Standalone component-based MVVC</li>
            <li>Angular router for lazy routing</li>
            <li>PWA Service Worker</li>
            <li>AOT Compilation</li>
            <li>Use lint rules</li>
            <li>Lazy loading images</li>
            <li>Images in Webp format</li>
            <li>ngSkipHydration - for static html content</li>
            <li>Use trackBy for ng loop</li>
            <li>ChangeDetectionStrategy.OnPush</li>
            <li>Prevent memory leaks - use async pipe, libs or rxjs operators to unsubsribe observables</li>
            <li>No other subscriptions inside a subscription</li>
            <li>Reactive form</li>
            <li>Documentation</li>
        </ul>
    </div>

    <div class="container">
        <h3>Marketing</h3>
        <ul>
            <li>SEO - Title, Meta(description, canonical link, open graph)</li>
            <li>Schema Markup - enable rich snippet and content</li>
            <li>SSR Universal - prerendering static html for crawling and indexing</li>
            <li>Semantic html - header, footer, article, section, anchor, button</li>
            <li>Structured header tags - h1, h2, h3, h4</li>
            <li>Path Location Strategy - HTML5 routing</li>
            <li>Images - lazy-loaded, alt text, webp</li>
            <li>Submit xml sitemap</li>
            <li>Disallow irrelevant pages in Robots.txt</li>
            <li>Accessibility</li>
        </ul>
    </div>

    <div class="container">
        <h3>Security</h3>
        <ul>
            <li>InnerHtml to sanitize HTML snippet</li>
            <li>DomSanitizer to bypass trusted source</li>
            <li>AOT Compilation to prevent XSS attack(Script injection)</li>    
            <li>Do not direct use DOM API in component - ElementRef, Renderer</li>
            <li>Route Guard</li>
            <li>Use latest stable angular libraries and other dependencies</li>
            <li>JWT access token for API request authentication</li>
        </ul>
    </div>

    <div class="container">
        <h3>Testing</h3>
        <ul>
            <li>MVVM Architecture</li>
            <li>Unit testing - Karma and Jasmin</li>
            <li>E2E testing - Cypress</li>
        </ul>
    </div>
</div>
